
/* Product General Settings */
html{
  font-size: 120%;
  line-height: 120%;
  letter-spacing: 0.5px;
}

body{
  margin: 0 auto;
  padding: 0;
  font-weight: 100;
  font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
  color: #2C303F;
  padding: 1% 5.5%;
  box-sizing: border-box;
}

body p{
  font-weight: 100;
  line-height: 
}

/* Text Elements */
h1, h2, h3{
  color: #2C303F;
}
h1{
  font-size: 1.8rem;
  line-height: 1.1875;
  width: 81%;
  letter-spacing: -0.3px;
  margin-top: 0.5rem;
}
h2{
  font-size: 1.1rem;
  line-height: 1.1875;
  letter-spacing: -0.5px;
  text-align: center;
  width: 110%;
  margin-left: -5%;
  padding-top: inherit;
}
h3{
  font-size: 1rem;
  line-height: 2.0rem;
  width: 81%;
  margin: 0 auto;
  text-align: center;
}
p{
  font-size: 0.8rem;
}

/* Background-Color */
.bckgrnd-grey{
  background-color: #F4F3F4;
  padding: 0 40px;
}

/* HTML Styling*/

/* Nav CSS */
nav ul{
  list-style: none;
}
nav {
  height: 60px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left:0;
  right:0;
  background-color: white;
  border-bottom: 1px solid #5b5e6d;
  padding: inherit;
}
nav img{
  max-height: 70px;
}
nav div p{
  max-width: 80%;
}
nav ul{
  visibility: hidden;
}

/* Header CSS */
header{
  display: flex;
  padding-top: 65px;
  box-sizing: border-box;
  font-size: 0.8rem;
  line-height: 1.0rem;
}
header img{
  width: 90%;
}
header p{
  color: #5b5e6d;
  font-weight: 100;
  padding-bottom: 2vh;
  text-align: center;
}
header div p{
  text-align: left;
}
header form{
  width: 100%;
}
header form *{
  width: 100%;
}

/* Main CSS */

main div p, main div div p{
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
  margin: 0 auto;
}
#good-company{
  margin: 0 -6%;
}

#good-company p{
  line-height: 1.2rem;
  padding-bottom: 10px;
}
main div img{
  padding: 0.5rem;
  margin: 10px;
}
.main-width{
  width: 100%;
  height: 100px;
}
.width-small{
  width: 230px;
  padding: 20px;
}
.width-large{
  width: 280px;
}

main button{
  margin-bottom: 20px;
}

/* Footer CSS */
footer{
  font-size: 0.6rem;
  line-height: 1rem;
}
footer div div img{
  width: 5rem;
}
#slack-div{
  width: 100%;
  height: 80px;
}
#slack-div img{
  margin-left: -5%;
  margin-top: -5%
  
}
#footer-mid-div{
  width: 100%;
}
#footer-mid-div ul{
  list-style: none;
  width: 48%;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 4%;
}
.margin-aligner-left{
  padding-left: 3%;
}
.footer-bottom{
  margin:0 -6% -2% -6%;
  padding: 0;
}
.footer-bottom ul{
  list-style: none;
  font-weight: 500;
  width: 100%;
  margin: 0 10px; 
}
.footer-bottom ul li{
  text-align: center;
  width: 30%;
  height: 100%;
}



.footer-bottom img{
  width: 10%;
  max-height: 50px;
}
#top-margin{
  margin-top: 4%;
  margin-bottom: 1%;
}
#mid-margin{
  margin-top: 2%;
  margin-bottom: 2%;
}
#bottom-margin{
  margin-top: 2%;
  margin-bottom: 4%;
  width: 100%;
}
#double-middle-margin, #triple-middle-margin{
  margin-left: 10%;
  margin-right: 10%;
}



/* Classes */

  /* Flex Container & Item */
  .flex-container-col{
    display: flex;
    flex-flow: column wrap;
  }
  .flex-container-row{
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
  }
  .flex-aligner-center{
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .flex-item-left{
    justify-content: center;
    align-self: flex-start;
  }
  main .flex-item-left{
    align-self: center;
  }
  .flex-order{
    order: 1;
  }
  .row-3{
    height: 25%;
    padding: 5px;
  }
  .flex-aligner-spacearound{
    align-items: center;
    align-content: space-between;
    justify-content: center;
  }

/* Buttton Layout */
.form-layout{
  width: 100% ;
  font-size: 0.8rem;
}
.button-layout{
  border-radius: 5px;
  font-size: inherit;
  font-weight: 400;
}
.input-button{
  border: 1px groove #5b5e6d;;
  margin-bottom: 15px;
  width: 100% ;
  font-size: 0.75rem;
  padding: 0.6rem;
  border-radius: 5px;
  font-weight: 500;
}
.button-get{
  background-color: #192592;
  color: white;
  border: 1px groove #192592;
  font-size: 0.7rem;
  padding: 0.60rem;
  border-radius: 5px;
  font-weight: 500;
}
.button-why{
  border: 1px groove #192592;
  color: #192592;
  background-color: white;
  font-size: 0.7rem;
  padding: 0.60rem;
  border-radius: 5px;
  font-weight: 500;
}
.border-box{
  box-sizing: border-box;
}

/* Main Image Border*/
.img-border-width{
  border-bottom: 0.5px groove rgb(91,94,109, 0.2);
}
.img-border-width-noshow{
  border: none;
}



@media (min-width: 767px) and (max-width: 961px){

  body{
    margin: 0 auto;
    padding: 0;
    font-weight: 100;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    color: #2C303F;
    padding: 1% 5%;
    box-sizing: border-box;
  }

  h1{
    font-size: 3rem;
    width: 90%;
    margin-top: 1rem;
  }

  nav ul li {
    visibility: hidden;
  }

  header img{
    width: 70%;
  }

  #header-p {
    font-size: 1.0rem;
    line-height: 3rem;
    align-self: flex-start;
  }

  .flex-item-left{
    justify-content: center;
    align-self: flex-start;
  }

  .flex-item-center{
    justify-content: center;
  }

  .button-get{
    width: 100% ;
  }

  .img-border-width{
    width: 100%;
  }

  .width-small{
    width: 50%;
  }

  .form-layout{
    width: 100% ;
    font-size: 0.8rem;
  }

  .button-layout{
    width: 80vw;
    height: 7vh;
    border-radius: 4px;
  }
}

@media (min-width: 962px) {
  .fa-bars{
    display: none;
  }

  nav ul{
    width: 70%;
    height: 80px;
    justify-content: flex-end;
    text-align: center;
    visibility: visible;

  }

  nav ul li{
    width: 21%;
    
  }

  h1{
    font-size: 5.4rem;
    line-height: 5rem;
    width: 80%;
  }

  header img{
    width: 80%;
  }

  .img-border-width{
    width: 50%;
  }

  #header-p {
    font-size: 1.0rem;
    line-height: 3rem;
    align-self: flex-start;
  }

  .flex-item-left{
    justify-content: center;
    align-self: flex-start;
  }

  .form-layout{
    width: 100% ;
    font-size: 0.8rem;
  }
  .button-layout{
    width: 80vw;
    height: 7vh;
    border-radius: 4px;
  }
}